{%extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <img src="{{product.image.url}}" width="100%">
        </div>
        <div class="col">
            <h1 class="display-6">{{product.book_name}}</h1>
            <p><span class="badge badge-secondary">Price</span>{{product.book_price}} 원</p>
            <h5><span class="badge badge-secondary">book number : {{product.book_num}}</span></h5>
        
            <form action="" method="post">
                {% csrf_token %}
                <a type="submit" class="btn btn-primary btn-sm" value="Add to Cart">
                <a href="{% url 'cart:add_cart' product.book_num %}" class="btn btn-primary btn-sm">Add to Cart</a>
            </form>
            
        </div>
    </div>
{% endblock %}